.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
    grid-gap: 24px;
    justify-content: center;
    align-items: center;
}

.container__empty {
    height: calc(100vh - 84px);
    width: 100%;
}